
/* sign in section  */
#signin_section{
    margin: auto; 
     text-align: center; 
    background-color: #eee;
    width: 30%;
    height: 80%;
    border-radius:10px ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
#signin_section h2{
font-size: 30px;
}
.input_part1{
    text-align: left;
    padding: 20px;
    margin-top: -50px;
}
.input_part1 input{
    width: 70%;
    height: 30px;
    border-color: #ACE4EC;
    padding-left: 10px;
   border: 2px #ACE4EC solid;
    caret-color: #ACE4EC;
}
.form-text{
    /* margin-top: -15px; */
    font-size: 12px;
    opacity: 0.5;
}
span{
    color: #ACE4EC;
}

.input_part2{
    text-align: center;
    
}
/* button */

.myButton {
	background-color:#ACE4EC;
	border-radius:28px;
	border:1px solid #ACE4EC;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ACE4EC;
    /* margin-top: 20px; */
}
.myButton:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    color: #000;
}

.myButton:active {
	position:relative;
	top:1px;
}

/* end button */

.input_part2{
    font-size: 20px;
}
.reg{
    color: #ACE4EC;
}

@media(max-width:768px){
    #signin_section{

        width: 90%;
        height: 85%;
    }
    .myButton {

        padding:5px 31px;

    }
}



















